:root {
  --background-image: url("./assets/bg-light.png");
}

[data-theme="dark"] {
  --background-image: url("./assets/bg-dark.png");
}

body {
  background-image: var(--background-image);
  background-size: cover;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

button {
  background-color: var(--text-color);
}

.theme-switcher {
  position: absolute;
  top: 10px;
  right: 10px;
}
